body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat";
  text-align: center;
}

hr {
  margin: 100px auto;
  border: dotted #bac4c4 6px;
  border-bottom: none;
  width: 5%;
}

h1 {
  margin-top: 0 auto 0 auto;
  font-family: "Itim", cursive;
  padding-top: 5%;
  font-size: 120px;
  color: #d2ef7a;

  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
}
.intro {
  width: 40%;
  margin: auto;
  font-family: "montserrat";
  font-weight: 580;
}
.dp {
  height: 200px;
  border-radius: 100%;
  position: relative;
  top: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.sk1 {
  height: 200px;
  border-radius: 50%;
}
.sk2 {
  height: 200px;
  border-radius: 100%;
}
.para {
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  margin-left: 20%;
  margin-top: -2%;
  color: white;
}
h2 {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  color: rgb(84, 206, 236);
  text-shadow: 0px 11px 10px rgba(148, 174, 176, 0.8);
}

h3 {
  font-family: "Great Vibes";
  font-size: 30px;
  color: #676d72;
  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
}
.top-container {
  background-image: url("https://i.postimg.cc/W3NRM9Bk/bla.jpg");
  background-position: center;
  background-size: cover;
  min-height: 700px;
  margin-bottom: 30px;
}
/* .top-content {
  position: absolute;
  margin: auto;
} */

.develop {
  text-decoration: underline;
  color: #28e2ff;
}

.bottom-cloud {
  height: 3.125rem;
  position: absolute;
  left: 18.75rem;
  top: 12.5rem;
}
.top-cloud {
  height: 6.25rem;
  position: absolute;
  right: 12.5rem;
  top: 11.25rem;
}
.container {
  width: 100%;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 30px auto;
  text-align: left;
  font-family: "merriweather";
}
.skill-row-1 {
  margin-top: 50px;
}
.sk {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.sk1 {
  float: left;
  margin-right: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.sk2 {
  float: right;
  margin-left: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.sk3 {
  float: left;
  margin-right: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.contact-messege {
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  margin: 30px auto !important;
}

.btn:hover {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999d);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999d);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999d);
  background-image: -o-linear-gradient(top, #11cdd4, #11999d);
  background-image: linear-gradient(to bottom, #11cdd4, #11999d);
  text-decoration: none;
}
.bottom-container {
  margin-top: 100px;
  background-color: #71b7cc;
  padding-top: 40px;
}
.intro2 {
  margin-bottom: 50px;
}

a {
  color: rgb(39, 123, 197);
  font-family: "Montserrat";
  margin: 10px 30px;
  text-decoration: none;
}

.copyright {
  color: #005ea3;

  padding: 20px 0 10px;
}

.icon {
  height: 20px;
  width: auto;
}

.profiles {
  text-align: center;
}

h4:hover {
  color: aliceblue;
  font-family: "Montserrat";
}

.icon1 {
  height: 30px;
  width: 30px;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
}
